@media (min-width: 768px) {
	.nav {
		&__navbar {
			position: relative;
			top: inherit;
			height: auto;
			width: auto;
			border-top: none;
			background-color: transparent;
			transform: translateX(0);

			&-item {
				display: inline-block;

				&-link {
					padding: 1.4em 0.25em;
				}
			}
		}

		&__burger-btn {
			display: none;
		}
	}
}
