@media (min-width: 768px) {
	.nav {
		&__logo {
			font-size: 2rem;
		}

		&__navbar {
			position: relative;
			top: inherit;
			height: auto;
			width: auto;
			border-top: none;
			background-color: transparent;
			transform: translateX(0);

			&-item {
				display: inline-block;

				&-link {
					padding: 1.4em 0.25em;
				}
			}
		}

		&__burger-btn {
			display: none;
		}
	}

	.header {
		&__box {
			&-description {
				font-size: 1.7rem;
			}

			&-heading {
				font-size: 3rem;
			}

			&-cta-button {
				width: 40%;
				font-size: 1.4rem;
			}
		}
	}

	main {
		.section-title {
			padding-top: 3.5em;
			font-size: 2.6rem;

			&::after {
				top: 65%;
			}

			&::before {
				bottom: -12%;
				width: 5%;
			}
		}

		.split {
			height: 200px;
		}

		.about-us {
			.about-box {
				flex-direction: row;
				justify-content: center;
				padding: 1em;

				&__image {
					width: 40%;
					order: 1;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		height: 650px;
		background-image: url('../img/hero-large.jpg');
		background-position: 75% 70%;

		&__box {
			align-items: flex-start;
			text-align: left;

			&-description {
				font-size: 1.8rem;
			}

			&-heading {
				font-size: 4.25rem;

				span {
					display: block;
				}
			}

			&-cta-button {
				width: 25%;
				font-size: 1.5rem;
			}
		}
	}

	main {
		.about-us {
			position: relative;

			.about-box {
				&__image {
					width: 35%;
				}

				&__description-box {
					padding: 0em 5em 1em 2em;

					p {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
